
### folders
node_modules
scripts
test
.idea
.vscode
coverage
.nyc_output
build/Release
src

### files
.editorconfig
.gitattributes
.gitignore
.npmignore
.travis.yml

### matching
*.log
*.txt
*.md
*.json
*.DS_Store

